.snackbar-container {
	position: fixed;
	margin:8rem 3rem 3rem 3rem;
	width: 15rem;
	border-radius: 0.5rem;
	box-shadow: var(--bg-color-1);
	z-index: 3000;
	top: 2rem;
	right: 0;
	color: var(--text-color-1);
	padding: 1rem 1rem;
	align-items: center;
	background-color: rgb(217, 255, 0);
	color:black;
	font-size: 1.5rem;
}

.display-none {
	display: none;
}

.success {
	background-color: var(--primary);
}

.alert {
	background-color: var(--danger);
}
